

	<div class="popup">
		<div class="popup__2lvl">
			<div class="popup__3lvl__upper">
				<h3>Рассчитать стоимость</h3>
				<p class="closePopup">X</p>
			</div>
			<form action="#" name="submit-to-google-sheet">
				<label for="name">Ваше имя</label><br>
				<input type="text" name="name" id="name" autocomplete="on"><br>
				<label for="phone">Телефон</label><br>
				<input type="tel" name="phone" id="phone" autocomplete="on"><br>
				<label for="comment">Комментарий</label>
				<textarea name="comment" id="comment"></textarea>
				<input type="checkbox" id="checky">
				<label for="checky">Я согласен(а) с обработкой персональных данных *</label><br>
				<button type="submit" class="buttonYellow">Send</button>
			</form>
		</div>
	</div>
